[Desktop Entry]
Name=CoreX
Comment=Hardware Monitor for Linux
Exec=corex
Icon=io.github.edewin.corex
Terminal=false
Type=Application
Categories=System;Monitor;Qt;
